<kt-portlet>
      <kt-portlet-body>
     <br>
        <h3 class='cool'>ประวัติรายการถอน </h3>
        <div class="table-responsive">
          <table style="width: 100%; text-align: center;" mat-table [dataSource]="Trxwithdraw" class="mat-elevation-z8">

            <ng-container matColumnDef="CREATEDATE">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> เวลาถอนเงิน	</th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.UPDATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}} </td>
            </ng-container>
     
     
            <ng-container matColumnDef="BALANCE">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> จำนวนเงิน	</th>
              <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> <strong>{{trxwithdrawElement.BALANCE}} บาท</strong> </td>
            </ng-container>
    
          
     
            <tr mat-header-row *matHeaderRowDef="displayedColumnsFirstTable"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsFirstTable;"></tr>
          </table>
        </div>
      
      <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true">
      </mat-paginator>
      </kt-portlet-body>

    </kt-portlet>

    