.centerfonttrxwithdraw{
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #3F4254;
}

.centerfont{
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #3F4254;
}


.backgroundrow{
	background-color: rgba(125, 133, 151, 0.74);
	color: white;
}

// .mySize{
// 	width: 15px !important;
// 	height: 15px !important;
// }
