<div class="d-flex flex-column-fluid flex-center mt-2 mt-lg-0">
	<!--begin::Signup-->
	
	<div class="login-form login-signup" style="display: block;">
	
		<div *ngIf="otpveri == 3;" >
			<div class="text-center">
			<h2><strong>รหัสของลูกค้า</strong></h2>
			&nbsp;
			</div>
			<h2><strong>USERNAME : {{username}}</strong></h2>
			&nbsp;
			<h2><strong>PASSWORD : {{password}}</strong></h2>
			<div class="text-center">
			<a href="/auth/login" id="kt_login_signup_cancel"
			class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4">เข้าหน้าล็อคอิน</a>
			<h2 style="color: red;"><strong>***</strong></h2>
			<h2><strong>กรุณาแอดไลน์ของทางเราได้ที่หน้า Login เพื่อติดตามข่าวสารโปรโมรชั่นแล้วการดูแลที่ทั่วถึงจากพนักงานของเรา</strong></h2>
		</div>
		</div>


		<div class="text-center">
			<!-- <h3 class="font-size-h1">Sign Up</h3> -->
			<div *ngIf="otpveri == 1 || otpveri == 0">
			<h2><strong>ตรวจสอบเบอร์โทรศัพท์</strong></h2>
			&nbsp;
			<div class="form-group">
				<input type="text" class="form-control" name="phoneNumber" maxlength="10" [(ngModel)]="phoneNumber" placeholder="เบอร์โทรศัพท์ลูกค้า" value="phoneNumber"  required>
				<span class="form-text text-muted">โปรดใส่เบอร์โทรเพื่อตรวจสอบ</span> 
				<button *ngIf="countTimerStatus == 0; else elseBlock" (click)="resetStop()" id="kt_login_signup_cancel"
					class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">ขอรับรหัส OTP</button>
			    <ng-template #elseBlock>
				<button else id="kt_login_signup_cancel" type="button"
					class="btn btn-danger font-weight-bold px-9 py-4 my-3 mx-4" disbled>
					ส่งรหัสอีกครั้งใน <countdown  [config]="config" (event)="handleEvent($event)"></countdown> วินาที</button></ng-template>
					<!-- <button (click)="cd.restart()" class="btn btn-link btn-sm">restart</button> -->
			</div>
		</div>

			<div *ngIf="otpveri == 1 || otpveri == 0" class="form-group">
						<h2 >  <strong> REF : {{refcode}} </strong></h2>
						<input type="text" class="form-control" name="otpVerify" maxlength="6" [(ngModel)]="otpVerify" placeholder="รหัสยืนยันตัวตน" value="otpVerify"  required>
				<span class="form-text text-muted">โปรดใส่รหัสที่ได้จากข้อความ</span> 
				<button id="cccs"
					class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4" (click)="submitotp()">ยืนยัน OTP</button>
			</div>

		</div>
		
		<div *ngIf="otpveri == 2;">
			<!-- <div> -->
		<div class="text-center mb-10 mb-lg-20">
			<!-- <h3 class="font-size-h1">Sign Up</h3> -->
			<h2><strong>กรุณากรอกข้อมูลตามจริงเลขบัญชีลูกค้ากับชื่อสมัครต้องตรงกัน</strong></h2>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="form" [formGroup]="registerForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>ชื่อ</mat-label>
					<input matInput type="text" placeholder="ชื่อ" formControlName="firstname" />
					<mat-error *ngIf="isControlHasError('firstname','required')">
						<strong>กรุณากรอกข้อมูล</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('firstname','minlength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 2</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('firstname','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 40</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>นามสกุล</mat-label>
					<input matInput type="text" placeholder="นามสกุล" formControlName="lastname" />
					<mat-error *ngIf="isControlHasError('lastname','required')">
						<strong>กรุณากรอกข้อมูล</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('lastname','minlength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 2</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('lastname','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 40</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">	
				<mat-form-field>
					<mat-label>ธนาคาร</mat-label>
					<select name="bank" placeholder="ธนาคาร" formControlName="bank" matNativeControl>
						<option disabled selected value> --กรุณาเลือกธนาคาร-- </option>
						<option *ngFor="let bankc of bankall" value="{{bankc.ID}}">{{bankc.BANKNAME}}</option>
					</select>
					<mat-error *ngIf="isControlHasError('bank','required')">
						<strong>กรุณากรอกข้อมูล</strong>
					</mat-error>
				</mat-form-field>
			</div>
			
			<div class="form-group">
				<mat-form-field>
					<mat-label>เลขบัญชีธนาคาร</mat-label>
					<input matInput type="text" placeholder="เลขบัญชีธนาคาร"   formControlName="bankacc" />
					<mat-error *ngIf="isControlHasError('bankacc','required')">
						<strong>กรุณากรอกข้อมูล</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('bankacc','minlength')">
						<strong>เลขบัญชีอย่างน้อย 8 ตัว</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('bankacc','maxlength')">
						<strong>เลขบัญชีสูงสุด 15 ตัว </strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('bankacc','pattern')">
						<strong>กรุณากรอกเลขบัญชีให้ถูกต้อง</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!-- <div class="form-group">
				<mat-form-field>
					<mat-label>เบอร์โทรศัพท์</mat-label>
					<input matInput type="text" placeholder="เบอร์โทรศัพท์" maxlength="10"formControlName="phone" />
					<mat-error *ngIf="isControlHasError('phone','required')">
						<strong>กรุณากรอกข้อมูล</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('phone','minlength')">
						<strong>กรุณากรอกเบอร์ให้ครบ</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('phone','pattern')">
						<strong>กรุณากรอกเบอร์ให้ถูกต้อง</strong>
					</mat-error>
				</mat-form-field>
			</div> -->
			<div class="form-group">
				<mat-form-field>
					<mat-label>รู้จักผ่าน</mat-label>
					<select name="channel" placeholder="รู้จักผ่าน" formControlName="channel" matNativeControl>
						<option disabled selected value> --กรุณาเลือกช่องทาง-- </option>
						<option *ngFor="let ch of chanelall" value="{{ch.ID}}">{{ch.CHANELNAME}}</option>
					</select>
					<mat-error *ngIf="isControlHasError('channel','required')">
						<strong>กรุณากรอกข้อมูล</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'AUTH.INPUT.PASSWORD' | translate }}</mat-label>
					<input matInput type="password" placeholder="{{ 'AUTH.INPUT.PASSWORD' | translate }}"
						formControlName="password" autocomplete="off" />
					<mat-error *ngIf="isControlHasError('password','required')">
						<strong>กรุณากรอกข้อมูล</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','minlength')">
						<strong>รหัสผ่านอย่างน้อย 8 ตัว</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','maxlength')">
						<strong>รหัสผ่านสูงสุด 16 ตัว</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','pattern')">
						<strong>กรุณาใส่ตัวเลขและตัวหนังสืออย่างน้อย 1 ตัว</strong>
					</mat-error>

				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}</mat-label>
					<input matInput type="password" placeholder="{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}"
						formControlName="confirmPassword" autocomplete="off" />
						<mat-error *ngIf="isControlHasError('password','minlength')">
							<strong>รหัสผ่านอย่างน้อย 8 ตัว</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('password','maxlength')">
							<strong>รหัสผ่านสูงสุด 16 ตัว</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('password','pattern')">
							<strong>กรุณาใส่ตัวเลขและตัวหนังสืออย่างน้อย 1 ตัว</strong>
						</mat-error>
					<mat-error
						*ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword">
						<strong>รหัสผ่านไม่ตรงกัน</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!-- <div class="form-group">
				<mat-checkbox name="agree" formControlName="agree">
					I agree the <a href="javascript:;">terms & conditions</a>
				</mat-checkbox>
			</div> -->

			<!--begin::Action-->
			<div class="form-group d-flex flex-wrap flex-center">
				<button (click)="submit()" id="kt_login_signup_submit"
					class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4"
					>{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
				<a href="/auth/login" id="kt_login_signup_cancel"
					class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4">Cancel</a>
			</div>
			<!--end::Action-->
		</form>
	</div>
	</div>


	<!--end::Signup-->
</div>