<kt-portlet>
    <kt-portlet-body>
        <h3 class='cool'> รายงานตามสมาชิก </h3>
        <!-- date picker -->
            <div class="row">
              <div class="col-auto">
                <mat-form-field appearance="fill">
                  <mat-label>CrateDate</mat-label>
                    <input matInput [matDatepicker]="picker1" [formControl]="creatDate">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
          
              &nbsp;&nbsp;
              <div class="col-auto">
                <mat-form-field appearance="fill">
                  <mat-label>EndDate</mat-label>
                    <input matInput [matDatepicker]="picker2" [formControl]="endDate">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              &nbsp;&nbsp;
              <div class="col-auto">
                <mat-form-field appearance="fill">
                  <mat-label>LINE OA</mat-label>
                    <mat-select [(ngModel)]="agentType">
                      <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let website of websiteAll" value="{{website.OA_ID}}">{{website.OA_NAME}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-auto">
                <mat-form-field appearance="fill" >
                  <mat-label>Username</mat-label>
                  <mat-icon matPrefix>account_circle</mat-icon>
                  <input matInput type="text" class="example-right-align" [(ngModel)]="username">
                  </mat-form-field>
              </div>

              <div class="col-12">
                <button mat-flat-button color="primary" (click)="onSerach()">Serach</button>
              </div>
            </div>
        <!--  -->
        <kt-portlet-body>
          <!-- trxlist Top -->
          <br>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-xxl-4">
                <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: #f3d112;">
                  <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{length}}</mat-card-title>
                    <mat-card-subtitle style="text-align: center; font-size:15px; "><a class="fontcolortrxlm">Active User</a></mat-card-subtitle>
                </mat-card>
              </div>
              <div class="col-lg-4 col-xxl-4 ">
                <div *ngIf=" balanceTD >= balanceTW else bgwithdraw">
                  <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: green;">
                    <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{ssa}}</mat-card-title>
                      <mat-card-subtitle style="text-align: center; font-size:15px;"><a class="fontcolortrxlm" >กำไร</a></mat-card-subtitle>
                  </mat-card>
                </div>
                <ng-template #bgwithdraw>
                  <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: red;" >
                    <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{ssa}}</mat-card-title>
                      <mat-card-subtitle style="text-align: center; font-size:15px;"><a class="fontcolortrxlm" >ขาดทุน</a></mat-card-subtitle>
                  </mat-card>
                  </ng-template>
                  
              </div>
            </div>
          </div>
        </kt-portlet-body>
        <br>
        <kt-portlet-body>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-xxl-3">
                <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: #f3d112;">
                  <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;" >{{countTD}}</mat-card-title>
                    <mat-card-subtitle style="text-align: center; font-size:15px; "><a class="fontcolortrxlm">จำนวนครั้งที่เติม</a></mat-card-subtitle>
                </mat-card>
              </div>
              <div class="col-lg-3 col-xxl-3">
                <mat-card class="datatable1 backgroundtop" style="text-align: center;background-color: green;">
                  <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px;">{{balanceTD}}</mat-card-title>
                    <mat-card-subtitle style="text-align: center; font-size:15px;"><a class="fontcolortrxlm">เติมทั้งหมด</a></mat-card-subtitle>
                </mat-card>
              </div>
              <div class="col-lg-3 col-xxl-3">
                <mat-card class="datatable1 backgroundtop" style="text-align: center; background-color: #f3d112;">
                  <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px; ">{{countTW}}</mat-card-title>
                    <mat-card-subtitle style="text-align: center; font-size:15px;"><a class="fontcolortrxlm">จำนวนครั้งที่ถอน</a></mat-card-subtitle>
                </mat-card>
              </div>
              <div class="col-lg-3 col-xxl-3">
                <mat-card class="datatable1 backgroundtop " style="text-align: center; background-color: red; ">
                  <mat-card-title class="justify-content-between fontcolortrxlnhead" style="text-align: center; font-size: 15px; ">{{balanceTW}}</mat-card-title>
                    <mat-card-subtitle style="text-align: center; font-size:15px;"><a class="fontcolortrxlm">ถอนทั้งหมด</a></mat-card-subtitle>
                </mat-card>
              </div>
            </div>
          </div>
        </kt-portlet-body>
        <br>

        <!-- datatable 2 -->
        <div class="table-responsive">
          <table style='width: 100%; text-align: center;' mat-table [dataSource]="datasource" class="mat-elevation-z8">
    
            <!-- Position Column -->
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> # </th>
              <td mat-cell *matCellDef="let datatrxlistmember; let i=index;" class="Fontcolortable"> {{i+1}} </td>
            </ng-container>
          
            <!-- user Column -->
            <ng-container matColumnDef="MEMBER_USERNAME">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> USER </th>
              <td mat-cell *matCellDef="let datatrxlistmember" class="Fontcolortable"> {{datatrxlistmember.MEMBER_USERNAME}} </td>
            </ng-container>
          
            <ng-container matColumnDef="LINE_OA">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> LINE OA </th>
              <td mat-cell *matCellDef="let datatrxlistmember" class="Fontcolortable"> {{datatrxlistmember.OA_NAME}} </td>
            </ng-container>
            <!-- AmountDeposit Column -->
            <ng-container matColumnDef="SUM_COUNT_TD">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> จำนวนครั้งที่เติม </th>
              <td mat-cell *matCellDef="let datatrxlistmember" class="Fontcolortable"> {{datatrxlistmember.SUM_COUNT_TD}} </td>
            </ng-container>
          
            <!-- AmountAll Column -->
            <ng-container matColumnDef="SUM_BALANCE_TD">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> เติมทั้งหมด </th>
              <td mat-cell *matCellDef="let datatrxlistmember" class="Fontcolortable"> {{datatrxlistmember.SUM_BALANCE_TD}} </td>
            </ng-container>
            <!-- AmountWithdraw Column -->
            <ng-container matColumnDef="SUM_COUNT_TW">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> จำนวนครั้งที่ถอน </th>
              <td mat-cell *matCellDef="let datatrxlistmember" class="Fontcolortable"> {{datatrxlistmember.SUM_COUNT_TW}} </td>
            </ng-container>
            <!-- AllWithdraw Column -->
            <ng-container matColumnDef="SUM_BALANCE_TW">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> ถอนทั้งหมด </th>
              <td mat-cell *matCellDef="let datatrxlistmember" class="Fontcolortable"> {{datatrxlistmember.SUM_BALANCE_TW}} </td>
            </ng-container>
            <!-- SummanyProfit Column -->
            <ng-container matColumnDef="SUM_NET">
              <th mat-header-cell *matHeaderCellDef class="centerfont"> กำไรขาดทุน </th>
              <td mat-cell *matCellDef="let datatrxlistmember" class="Fontcolortable">
                <div *ngIf =" datatrxlistmember.SUM_BALANCE_TW >= datatrxlistmember.SUM_BALANCE_TD  else Sumbalance" style="background-color: red;">
                      {{datatrxlistmember.SUM_NET}}
                </div>
                <ng-template #Sumbalance>
                  <div style="background-color: green;">
                    {{datatrxlistmember.SUM_NET}}
                  </div>
                </ng-template>
              </td>
              
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="DataTrxlistmember" class="BGhead"></tr>
            <tr mat-row *matRowDef="let row; columns: DataTrxlistmember;" class="BGrow"></tr>
          </table>
        </div>
   
      <mat-paginator [pageSizeOptions]="[10, 20, 50]">
      </mat-paginator>
    <br>
      <!-- end og table 1 -->
      </kt-portlet-body>
    </kt-portlet>