
<kt-portlet>
  <kt-portlet-body>
      <h3 class="cool"> ฝากเงิน </h3>

<!-- table1 -->
      <br>
  
        <mat-card style="text-align: center;">  
       
            <div *ngIf="haveValuee=='' else haveValue">
              <section class="col-12">
                <header>
                  <h5 class="text-left">ธนาคารที่ต้องการจะฝาก </h5>
                </header>
              </section>
           
              <div class="col-12">  
             
                <mat-radio-group [(ngModel)]="model.id">
                  <mat-radio-button class="example-radio-button" *ngFor="let res of dataRes"  [value]="res.ID">
                  <div *ngIf="res.BANK_TITLE =='KBANK' else scb" class="rounded"  style="font-size: 13px;">
                   <strong>ธนาคารกสิกรไทย</strong>&nbsp;
                    <img   src="assets/media/img/KBANK.png" style="
                    height: 70px;
                    width: 70px;">
                    </div>
                    <ng-template #scb>
                      <div class="rounded"  style="font-size: 13px;">
                        <strong>ธนาคารไทยพาณิชย์</strong>&nbsp;
                         <img   src="assets/media/img/SCB.png" style="
                         height: 70px;
                         width: 70px;">
                         </div>
                    </ng-template>
                  </mat-radio-button>
                </mat-radio-group>
      
            </div>
            <div class="col-12">  
              <div class="form-group">
                <h5 class="text-left">ยอดเงินที่ต้องการจะฝาก</h5>
                  <input type="number" class="form-control" name="balance" [(ngModel)]="model.balance" placeholder="กรุณาระบุยอดเงินที่ต้องการฝาก" value="model.balance" required>
                  <span class="form-text text-muted" style="color: red !important;">** กรุณาระบุยอดฝากเป้นจำนวนเต็มเท่านั้น ระบบจะสุ่มทศนิยมให้อัตโนมัติ</span>
                <a class="btn btn-success" style="padding: 5px;" (click)="onsubmit()"> ยืนยัน </a>
              </div>
            </div>
            </div>

              <ng-template #haveValue>
              <div class="col-12">
                <div class="form-group">
                  <h5 class="text-left">ยอดเงินที่ต้องโอน</h5>
                  <mat-card style="font-size: 18px;"><strong>{{dataResHave.BALANCE}}</strong></mat-card>
                    <span class="form-text text-muted" style="color: red !important;">** ตรวจสอบทศนิยมโดยละเอียด เพื่อความรวดเร็วของระบบ</span>
                </div>       
              </div>
            <div class="col-lg-12">
                <h5 class="text-left">รายละเอียดการโอน</h5>
                <mat-card *ngIf="bankhave.BANK_TITLE == 'KBANK' else scb" style="text-align: left;">ธนาคาร : <strong>ธนาคารกสิกรไทย</strong></mat-card>
                <ng-template #scb>
                  <mat-card style="text-align: left;">ธนาคาร : <strong>ธนาคารไทยพาณิชย์</strong></mat-card>
                </ng-template>

                <mat-card style="text-align: left;">ชื่อบัญชี : <strong>{{bankhave.BANK_ACCOUNT_NAME}}</strong></mat-card>
                <mat-card style="text-align: left;">เลขที่บัญชี : <strong>{{bankhave.BANK_ACCOUNT_NUMBER}}</strong> <a class="btn btn-outline-primary float-right" style="margin: -8px;" (click)="onCopy()">คัดลอก</a></mat-card>
                <br>
                <h5 class="text-center" style="color: darkorange;"><strong>คุณมีเวลาโอนเงินภายใน 10 นาที </strong></h5>
                <h5 class="text-center" style="color: darkorange;"><strong>กรุณาโอนเงินก่อนเวลา {{datetimeend | date : 'HH:mm':'GMT'}}</strong></h5>
                <a class="btn btn-danger" style="padding: 7px;" (click)="onCancel()"><strong>ยกเลิกการฝาก / เปลี่ยนยอดฝาก </strong></a>
            </div>
          </ng-template>
            
       
        </mat-card>
    
    </kt-portlet-body>
  </kt-portlet>
