<kt-portlet>
	<kt-portlet-body>
		<!-- *ngIf="dataS.status == 200 else scb" -->
		<div *ngIf="status == 200 else ccb" #wizard class="wizard wizard-4" id="kt_wizard_v4" data-wizard-state="step-first">
			<div class="card card-custom card-shadowless rounded-top-0 ">
				<div class="card-body p-0 ">
					<div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
						<div class="col-xl-12 col-xxl-12">
							
								<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
									<h2 class="mb-10 font-weight-bold text-dark" style="
									text-align: center;">แจ้งถอนเงิน</h2>
								
								<div class="row">
									<div class="col-12">
										<label>ชื่อจริง</label>
										<input type="text" class="form-control" name="fname" placeholder="FirstName" value={{dataS.profile.firstname}} disabled>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<label>นามสกุล</label>
										<input type="text" class="form-control" name="lname" placeholder="LastName" value={{dataS.profile.lastname}}  disabled>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<label>เลขบัญชี</label>
										<input type="number" class="form-control" name="bankaccount"  placeholder="Bank Account" value={{dataS.profile.bankacc}} disabled>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
                                        <label>ธนาคาร</label>
                                        <input type="text" maxlength="10" class="form-control" name="bank"  placeholder="Bank" value={{dataS.profile.bankname}} disabled>
									</div>
								 </div>
								 <div class="row">
									<div class="col-12">
											<label>จำนวนเงิน</label>
											<input type="number" maxlength="10" class="form-control" name="amount" [(ngModel)]="amount"  placeholder="Amount" value={{dataS.data}} required>
											<span class="form-text text-muted">ระบุจำนวนเงินที่ต้องการถอน</span>
											<span class="form-text" style="color: red;">** กรุณาตรวจสอบยอดเทิร์นของลูกค้าก่อนถอน</span>
											<span class="form-text" style="color: red;">เงื่อนไขการถอน เล่นครบ 1 เทิร์น</span>
											<!-- <span class="form-text" style="color: red;"> <strong>**** ถอนขั้นต่ำ {{minwithdraw}} บาท</strong></span> -->
									</div>
								</div>
								<br>
							
								<br>
								<div class="row justify-content-center">
									<div class="col-12">
								
										<div class="text-center">
										
										<button  class="btn btn-primary font-weight-bold" (click)="onSubmit(withD)" [disabled]="submitButton == false || sbb == false">ทำรายการ</button>
									</div>
									
									
								</div>
							</div>
								</div>
								
	
                        </div>
					
					</div>
				</div>
			</div>
		</div>

		<ng-template #ccb>

		<div *ngIf="dataS.data.TRANSACTION_STATUS == 'pending' else return">
                <h5 class="text-center" style="color: darkorange;"><strong>ขณะนี้ระบบกำลังทำรายการถอนให้ลูกค้า</strong></h5>
				<h5 class="text-center" style="color: darkorange;"><strong>จำนวนเงิน {{dataS.data.BALANCE}} บาท</strong></h5>
				<h5 class="text-center" style="color: darkorange;"><strong>กรุณารออัพเดทจากทางระบบ</strong></h5>
		</div>	


		<ng-template #return>
			<h5 class="text-center" style="color: darkorange;"><strong>ยอดเงินของท่านไม่สามารถถอนได้</strong></h5>
			<h5 class="text-center" style="color: red;"><strong>เนื่องจากยอดเล่นไม่ถึงเทิรน์หรือไม่มียอดพอให้ถอน</strong></h5>

			<div class="text-center">
			<button  class="btn btn-primary font-weight-bold" (click)="onAccept()">รับทราบ</button>
			</div>
		</ng-template>
	</ng-template>
		
	

	</kt-portlet-body>
</kt-portlet>
