.autotrx{
    background-color: rgb(26, 179, 148);
    border-radius: 10px;
    border:solid 1px;
}

.tableThree{
    background-color: #14941d;
    border-radius: 10px;
    border:solid 1px;
}

.mantrx{
    background-color: rgb(237, 85, 101);
    border-radius: 10px;
    border:solid 1px;
}

.centerfontTableSecond{
    text-align: center;
    background-color: #3F4254;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.bgTableSecond{
    background-color: rgba(125, 133, 151, 0.74);
    color: white;
}

.centerfont{
    text-align: center;
    background-color: #3F4254;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.bgTableThird{
    background-color: rgba(125, 133, 151, 0.74);
    color: white;
}

.centerrow{
    text-align: center;
}

table {
    width: 100%;
  }
  
.th.mat-sort-header-sorted {
    color: black;
  }
  
.align-right{
    display: flex;
    padding: 21px 0;
    justify-content: flex-end;
  }
  

:host {
    height: 100%;
    width: 100%;
  }