
      <kt-portlet>
      <kt-portlet-body>

      <h2>ประวัติรายการฝาก</h2>
      <div class="table-responsive">
        <table style='width: 100%; text-align: center;' mat-table [dataSource]="Trxdeposit" class="mat-elevation-z8">

          <ng-container matColumnDef="CREATEDATE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> เวลาฝากเงิน </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.CREATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="BALANCE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> จำนวน </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.BALANCE}}  บาท</td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumnssum"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnssum;"></tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[10, 20 , 50]">
      </mat-paginator>

      </kt-portlet-body>
    </kt-portlet>


