<kt-portlet>
    <kt-portlet-body>
      <!-- date picker -->
          <div class="row">
            <div class="col-auto">
              <mat-form-field appearance="fill">
                <mat-label>CrateDate</mat-label>
                  <input matInput [matDatepicker]="picker1" [formControl]="creatDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
        
            &nbsp;&nbsp;
            <div class="col-auto">
              <mat-form-field appearance="fill">
                <mat-label>EndDate</mat-label>
                  <input matInput [matDatepicker]="picker2" [formControl]="endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            &nbsp;&nbsp;
           <div class="col-auto">
              <button mat-flat-button color="primary" (click)="onSearch()">Serach</button>
            </div>
          </div>
      <!--  -->
        <h3 class='cool'> รายการที่ถูกซ่อน </h3>
        <ng-container>
          <div *ngFor="let trx of trxhidden">
            <div *ngIf="trx.BANK_TITLE =='SCB' else KBANK">
              <div class="table-responsive">
                <table class="table table-striped" >
                  <tbody>
                    <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: rgb(73, 41, 126);">
                      <td style="width: 55px;">
                          <img src="assets/media/img/SCB.png" width="35px">
                      </td>
                      <td style="width: 430px;"> SMS
                          <br>
                          <br>
                          <br>
                          <b style="color: red;">{{trx.REMARK}}</b>
                      </td>
                      <td>
                          <small>ช่องทาง</small>
                          <br> SMS
                      </td>
                      <td >
                        <small>เวลา</small>
                        <br> {{trx.CREATEDATE |  date:'dd/MM/yy HH:mm' :'UTC'}}
                    </td>
                    <td >
                      <small>อัปเดท</small>
                      <br> {{trx.UPDATEDATE |  date:'dd/MM/yy HH:mm' :'UTC'}}
                  </td>
                      <td>
                          <small>จำนวนเงิน</small>
                          <br>
                          <span class="label label-inline" style="color: #000;">{{trx.BALANCE}}</span>
                      </td>
                    </tr>
                  </tbody>
              </table>   
              </div>
              <!-- ของเก่า -->
            <!-- <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 main-header">
                    <table class="table table-striped" >
                          <tbody>
                            <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: rgb(73, 41, 126);">
                              <td style="width: 55px;">
                                  <img src="assets/media/img/SCB.png" width="35px">
                              </td>
                              <td style="width: 430px;"> SMS
                                  <br>
                                  <br>
                                  <br>
                                  <b style="color: red;">{{trx.REMARK}}</b>
                              </td>
                              <td>
                                  <small>ช่องทาง</small>
                                  <br> SMS
                              </td>
                              <td >
                                <small>เวลา</small>
                                <br> {{trx.CREATEDATE |  date:'dd/MM/yy HH:mm' :'UTC'}}
                            </td>
                            <td >
                              <small>อัปเดท</small>
                              <br> {{trx.UPDATEDATE |  date:'dd/MM/yy HH:mm' :'UTC'}}
                          </td>
                              <td>
                                  <small>จำนวนเงิน</small>
                                  <br>
                                  <span class="label label-inline" style="color: #000;">{{trx.BALANCE}}</span>
                              </td>
                            </tr>
                          </tbody>
                      </table>             
              </div>
            </div> -->
          </div>
          <ng-template #KBANK>
            <div class="table-responsive">
              <table class="table table-striped" >
                <tbody>
                  <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: #00a950;">
                    <td style="width: 55px;">
                        <img src="assets/media/img/KBANK.png" width="35px">
                    </td>
                    <td style="width: 430px;"> SMS
                        <br>
                        <br>
                        <br>
                        <b style="color: red;">{{trx.REMARK}}</b>
                    </td>
                    <td>
                        <small>ช่องทาง</small>
                        <br> SMS
                    </td>
                    <td >
                      <small>เวลา</small>
                      <br> {{trx.CREATEDATE |   date:'dd/MM/yy HH:mm' :'UTC'}}
                  </td>
                  <td >
                    <small>อัปเดท</small>
                    <br> {{trx.UPDATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}}
                </td>
                    <td>
                        <small>จำนวนเงิน</small>
                        <br>
                        <span class="label label-inline" style="color: #000;">{{trx.BALANCE}}</span>
                    </td>
                  </tr>
                </tbody>
            </table>   
            </div>
            <!-- ของเก่า -->
            <!-- <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 main-header">
                <table class="table table-striped" >
                      <tbody>
                        <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: #00a950;">
                          <td style="width: 55px;">
                              <img src="assets/media/img/KBANK.png" width="35px">
                          </td>
                          <td style="width: 430px;"> SMS
                              <br>
                              <br>
                              <br>
                              <b style="color: red;">{{trx.REMARK}}</b>
                          </td>
                          <td>
                              <small>ช่องทาง</small>
                              <br> SMS
                          </td>
                          <td >
                            <small>เวลา</small>
                            <br> {{trx.CREATEDATE |   date:'dd/MM/yy HH:mm' :'UTC'}}
                        </td>
                        <td >
                          <small>อัปเดท</small>
                          <br> {{trx.UPDATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}}
                      </td>
                          <td>
                              <small>จำนวนเงิน</small>
                              <br>
                              <span class="label label-inline" style="color: #000;">{{trx.BALANCE}}</span>
                          </td>
                        </tr>
                      </tbody>
                  </table>             
          </div>
            </div> -->
          </ng-template>
        </div>
      </ng-container>  
      </kt-portlet-body>
    </kt-portlet>