<mat-dialog-content class="mat-typography">
    <div class="modal-content bg-edit">
        <div class="modal-header">
            <h4 class="modal-title" style="color: black;">เติมเงิน</h4>
            <button mat-button mat-dialog-close >
                <span class="material-icons">
                    close
                    </span>
            </button>
        </div>
        <div class="modal-body">
            <section class="widget">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 main-header">
                        <form class="form-horizontal form-label-left ">
                            <fieldset>
                                <section>
                                    <div class="row form-group">
                                        <label class="col-form-label col-md-3">รหัสล็อกอินผู้ใช้</label>
                                        <div class="col col-6">
                                            <input class="form-control" name="accountName" type="text" [(ngModel)]="id" [disabled]="sbb == true"> 
                                            <label class="col-form-label" style="color: red;">*** กด Serach เพื่อตรวรจสอบ User ทุกครั้งก่อนทำรายการ</label>
                                        </div>
                                        <div class="col col-3">
                                            <button class="btn btn-success" type="submit" (click)="onSearch()">Search</button> 
                                        </div>

                        
                                        <br><br><br>
                                        <label class="col-form-label col-md-3">จำนวนเงินฝาก</label>
                                        <div class="col col-9">
                                            <input class="form-control " name="accountNumber" type="text" [(ngModel)]="dataModal.BALANCE" disabled>
                                        </div>

                                        <br><br><br>
                                        <label class="col-form-label col-md-3"></label>
                                        <div class="col col-9">
                                            <input type="checkbox" [(ngModel)]="theCheckbox" name="theCheckbox"> เติมเงินแล้วข้อความไม่หาย
                                        </div>


                                    </div>
                                </section>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-8 text-center">
                                        <button class="btn btn-success" type="submit" (click)="onSubmit()" [disabled]="submitButton == false">ทำรายการ</button> &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-danger" mat-dialog-close type="button">ปิด</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </mat-dialog-content>