<kt-portlet>
    <kt-portlet-body>
            <div class="row" style="background-color: whitesmoke;" >
                <div class="col-md-12 col-12">
                <div class="row">
                    <div class="col-12 main">
                        <header style="color: white;">UFABET ยินดีตอนรับ</header>
                    </div>
                </div>
                <div class="row" style="display: flex; justify-content: center; margin-bottom: 10px; margin-top: 10px;">
                
                    <div class="col-12">
                                <div class="card text-center" >
                                 <div class="card-body">
                                    <h4 class="card-title">ยอดเงินคงเหลือ &nbsp;<i class="fas fa-undo" (click)="preData()"></i></h4> 
                                    
                                    <p class="card-text">
                                        <strong>{{balacnceUfa}}</strong> 
                                    </p>
                                  
                                    <button class="btn btn-success" (click)="goToUfabet()">เข้าเล่น UFABET</button>
                                 </div>
                                 </div>
                                 </div>

                </div>
             
                    <div class="row">
                        <div class="col-12 main">
                            <header style="color: white;">ฝาก - ถอน</header>
                        </div>
                        <div class="col-6">
                           
                                <button class="btn btn-primary btn-block" (click)="goToDeposit()" style="margin-top: 10px;margin-bottom: 10px;">ฝากเงิน</button>
                       </div>
                       <div class="col-6">
                                <button class="btn btn-danger btn-block"  (click)="goToWithdraw()" style="margin-top: 10px;margin-bottom: 10px;">แจ้งถอนเงิน</button>
                            </div>
                    </div>  

                    <div class="row">
                        <div class="col-12 main">
                            <header style="color: white;">ประวัติการทำรายการ</header>
                        </div>
                        <div class="col-6">
                           
                       <button class="btn btn-primary btn-block" routerLink="/transaction/trxdeposit" style="margin-top: 10px;margin-bottom: 10px;">ประวัติฝากเงิน</button>
                       </div>
                    <div class="col-6">
                         <button class="btn btn-danger btn-block" routerLink="/transaction/trxwithdraw"  style="margin-top: 10px;margin-bottom: 10px;">ประวัติถอนเงิน</button>
                     </div>
                     <div class="col-12">
                         <button class="btn btn-warning btn-block"  (click)="onSupport()" style="margin-top: 10px;margin-bottom: 10px;">แจ้งปัญหาการใช้งาน / ปรับเปลี่ยนข้อมูล / ติดต่อพนักงาน</button>
                     </div>
                    </div>  
               
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-12">
                    <div *ngFor="let DataHidden of trxhidden">
                    <div *ngIf="DataHidden.BANK_TITLE =='SCB' else kbank">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 main-header"> 
                              <table class="table table-striped">
                                    <tbody>
                                      <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: rgb(73, 41, 126);">
                                        <td style="width: 55px;">
                                            <img src="assets/media/img/SCB.png" width="35px">
                                        </td>
                                        <td>{{DataHidden.BANK_TITLE}}
                                            <br>
                                          
                                            <br>
                                            <br>
                                       
                                        </td>
                                        <td>
                                            <small>ช่องทาง</small>
                                            <br> SMS
                                        </td>
                                        <td >
                                            <small>เวลา</small>
                                            <br> {{DataHidden.CREATDATE}}
                                        </td>
                                        <td>
                                            <small>จำนวนเงิน</small>
                                            <br>
                                            <span class="label label-inline" style="color: #000;">{{DataHidden.BALANCE}}</span>
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-default btn-block" (click)="openDialog(DataHidden)"><i class="fa fa-check" ></i> เติม</button>
                                            <div style="padding: 2px;"></div>
                                            <button class="btn btn-primary btn-block" (click)="openDialogHidden(DataHidden)"><i class="fa fa-times"></i> ซ่อน</button>
                                        </td>
                  
                                      </tr>
                                    </tbody>
                                </table>
                        </div> 
                     </div>
                    </div> 
                    <ng-template #kbank>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 main-header"> 
                                  <table class="table table-striped">
                                        <tbody>
                                          <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: #00a950;">
                                            <td style="width: 55px;">
                                                <img src="assets/media/img/KBANK.png" width="35px">
                                            </td>
                                            <td>{{DataHidden.BANK_TITLE}}
                                                <br>
                                  
                                                <br>
                           
                                            </td>
                                            <td>
                                                <small>ช่องทาง</small>
                                                <br> SMS
                                            </td>
                                            <td >
                                                <small>เวลา</small>
                                                <br> {{DataHidden.CREATDATE}}
                                            </td>
                                            <td>
                                                <small>จำนวนเงิน</small>
                                                <br>
                                                <span class="label label-inline" style="color: #000;">{{DataHidden.BALANCE}}</span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn btn-default btn-block" routerLink="/deposit"><i class="fa fa-check" ></i> เติม</button>
                                                <div style="padding: 2px;"></div>
                                                <button class="btn btn-primary btn-block" routerLink="/withdraw"><i class="fa fa-times"></i> ซ่อน</button>
                                            </td>
                      
                                          </tr>
                                        </tbody>
                                    </table>
                            </div> 
                         </div>
                        </ng-template>
                        
                        </div>
                    </div>
                </div>

                </div>

                </div>
    </kt-portlet-body>
    </kt-portlet>
