<kt-portlet>
  <h1 mat-dialog-title class="headinfo" style="margin-top: 20px; margin-left: 10px;">ข้อมูลพนักงาน</h1>
      <div class="row justify-content-center px-12">
          <div class="col-xl-12">
                      <div class="form-group row justify-content-center">
                          <label class="col-form-label col-2">Username*</label>
                          <div class="col-4">
                          <input type="text" class="form-control" name="uname" [(ngModel)]="Staffdata.USERNAME" placeholder="Username" disabled>
                          </div>
                      </div>
                      <!-- <div class="form-group row justify-content-center">
                          <mat-label class="col-form-label col-2">Password*</mat-label>
                          <div class="col-4">
                          <input type="text" class="form-control" name="password" [(ngModel)]="Staffdata.PASSWORD" placeholder="Password" disabled>
                      </div>
                      </div> -->
                      <div class="form-group row justify-content-center">
                        <mat-label class="col-form-label col-2">Name*</mat-label>
                        <div class="col-4">
                        <input type="text" class="form-control" name="staffname"  placeholder="Name" [(ngModel)]="Staffdata.STAFFNAME">
                    </div>
                    </div>
                    <div class="form-group row justify-content-center">
                      <label class="col-form-label col-2">Position</label>
                      <div class="col-4">
                      <select name="role"  class="form-control" [(ngModel)]="Staffdata.STAFFCLASS_ID">
                        <option *ngFor="let staffClass of StaffClassAll" value="{{Staffdata.STAFFCLASS_ID}}">{{staffClass.CLASSNAME}}</option>
                      </select>
                    </div>
                    </div>
                    <div class="form-group row justify-content-center">
                      <label class="col-form-label col-2">Deposit Limit*</label>
                      <div class="col-4">
                      <input type="text" class="form-control" name="DepositLimit" [(ngModel)]="Staffdata.DEPOSITLIMIT" placeholder="Limit">
                  </div>
                  </div>
                  <div class="form-group row justify-content-center">
                    <label class="col-form-label col-2">Status*</label>
                    <div class="col-4">
                      
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="Staffdata.STATUS_ONLINE" value="Y">
                            <label class="form-check-label" >Active</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="Staffdata.STATUS_ONLINE" value="N">
                            <label class="form-check-label" >Inactive</label>
                          </div>
                </div>
                </div>
          </div>
          
  </div>
  <div class="form-actions">
      <div class="row justify-content-md-center">
          <div class="col-md-8 text-center">
              <button mat-button class="btn btn-primary" type="submit" (click)="onSubmit()">ทำรายการ</button> &nbsp; &nbsp;
              <button mat-button class="btn btn-secondary" mat-dialog-close type="button">ปิด</button>
          </div>
      </div>
  </div>
</kt-portlet>